%h1 Add Students

= form_tag "/teachers/#{params[:teacher_id]}/classrooms/#{params[:id]}/add_students" do

  = label :students, :name, 'Name'
  = text_field :students, 'name1'

  = label :students, :name, 'Name'
  = text_field :students, 'name2'

  = label :students, :name, 'Name'
  = text_field :students, 'name3'


  = submit_tag 'Add Students'

= debug(params)