%div#wrapper

  -if @teacher.admin?
    = render :partial => "shared/navbar_admin"
  -else
    = render :partial => "shared/navbar"

  %div#page-wrapper

    %div#class-info
      %h2="Class Information"
      %p.info!="<b>Information on class</b>: #{@classroom.name}"
      %p.info!="<b>Class Type</b>: #{@classroom.class_type}"
      %p.info!="<b>Program</b>: #{@classroom.program}"
      %p.info!="<b>Start Date</b>: #{@classroom.start_date}"
      %p.info!="<b>End Date</b>: #{@classroom.end_date}"

    %div#row
      %div#col-lg-12
        %h3="Student Roster"
        %div.dataTable_wrapper
          %div.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
            %div.row
              %div.col-sm-12
                %table.table.table-striped.table-bordered.table-hover.dataTable.no-footer
                  %thead
                    %tr
                      %th Name
                      %th Pre-test score
                      %th Post-test score
                  %tbody
                    - @classroom.students.each do |student|
                      %tr
                        %td= link_to student.name, student_path(student.id)
                        %td= student.get_survey_score('pre')
                        %td= student.get_survey_score('post')

    = button_to "Download Score Overview", classroom_path(@classroom.id) + "/score_overview.csv", :class => "btn btn-primary", :method => :get, :target => "_blank"

    = button_to "Add students to class", classroom_path(@classroom.id) + "/add_students_form", :class => "btn btn-primary", :method => :get
    = button_to "Administer Pre-Assessment", classroom_path(@classroom.id) + "/create_link_pre", :method => :get, :class => "btn btn-primary"
    = button_to "Administer Post-Assessment", classroom_path(@classroom.id) + "/create_link_post", :method => :get, :class => "btn btn-primary"
