%div#wrapper

  -if @teacher.admin?
    = render :partial => "shared/navbar_admin"
  -else
    = render :partial => "shared/navbar"

  %div#page-wrapper

    = "Information on class #{@classroom.name}"
    %br
    = "Class Type: #{@classroom.class_type}"
    %br
    = "Program: #{@classroom.program}"
    %br
    = "Start Date: #{@classroom.start_date}"
    %br
    = "End Date: #{@classroom.end_date}"
    %br

    %div#row
      %div#col-lg-12
        %div.panel.panel-default
          %div.panel-body
            %div.dataTable_wrapper
              %div.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                %div.row
                  %div.col-sm-12
                    %table.table.table-striped.table-bordered.table-hover.dataTable.no-footer
                      %thead
                        %tr
                          %th Name
                          %th Pre-test score
                          %th Post-test score
                      %tbody
                        - @classroom.students.each do |student|
                          %tr
                            %td= link_to student.name, student_path(student.id)
                            %td= student.get_survey_score('pre')
                            %td= student.get_survey_score('post')

    = button_to "Download Score Overview", classroom_path(@classroom.id) + "/score_overview.csv", :class => "btn-primary btn-outline", :method => :get, :target => "_blank"

    = link_to "Add students to class", classroom_path(@classroom.id) + "/add_students_form"
    = link_to "Administer Pre-Assessment", :controller => "classrooms", :action => "create_link", :id => @classroom.id, :test_type => 'pre'
    %br
    = link_to "Administer Post-Assessment", :controller => 'classrooms', :action => 'create_link', :id => @classroom.id, :test_type => 'post'
