%h1= "#{@student.name}"

%h4= "Gender: #{@student.gender}"
%h4= "Ethnicity: #{@student.ethnicity}"

%h2= "#{@student.name}'s test scores"
%h4= "Pre-test Score: #{@student.get_survey_score('pre')}"
%h4= "Post-test Score: #{@student.get_survey_score('post')}"
