%div#wrapper

  -if @teacher.admin?
    = render :partial => "shared/navbar_admin"
  -else
    = render :partial => "shared/navbar"  

  %div#page-wrapper

    %div#class-info
      %h2= "#{@student.name}"
      %p.info!= "<b>School Name</b>: #{@student.school_name}"
      %p.info!= "<b>Teacher Name</b>: #{@student.teacher_name}"
      %p.info!= "<b>City</b>: #{@student.city_name}"
      %p.info!= "<b>State</b>: #{@student.state}"
      %p.info!= "<b>Grade</b>: #{@student.grade}"
      %p.info!= "<b>Gender</b>: #{@student.gender}"
      %p.info!= "<b>Ethnicity</b>: #{@student.ethnicity}"

    %div#row
      %div#col-lg-12
        %h2= "Student Answers"
        %div.dataTable_wrapper
          %div.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
            %div.row
              %div.col-sm-12
                %table.table.table-bordered.table-hover.dataTable.no-footer
                  %thead
                    %tr
                      %th Question
                      %th Pre-Choice
                      %th Post-Choice
                      %th Correct-Choice
                  %tbody
                    -@test_display.each do |pre, post|
                      %tr
                        %td= pre.question
                        -if @right_or_wrong_questions.include?(pre.question) and pre.correct
                          %td.correct= pre.answer
                        -else
                          %td= pre.answer
                        -if !post
                          %td= "N/A"
                        -elsif @right_or_wrong_questions.include?(post.question) and post.correct
                          %td.correct= post.answer
                        -else
                          %td= post.answer
                        %td= pre.key
