%div#wrapper

  = render :partial => "shared/navbar_admin"      

  %div#page-wrapper

    %div#row
      %div#col-lg-12
        %h1#page-header Teachers

    %div#row
      %div#col-lg-12
        %div.panel.panel-default
          %div.panel-body
            %div.dataTable_wrapper
              %div.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                %div.row
                  %div.col-sm-12
                    %table.table.table-striped.table-bordered.table-hover.dataTable.no-footer
                      %thead
                        %tr
                          %th Name
                          %th Number of Classes
                          %th School
                          %th City
                          %th State
                      %tbody
                        - Teacher.all.each do |teacher|
                          %tr
                            %td= link_to "#{teacher.name}", teacher_path(teacher)
                            %td= teacher.classrooms.count
                            %td= teacher.school_name
                            %td= teacher.city
                            %td= teacher.state