- if teacher_signed_in?
  = "Logged in as #{current_teacher.email}"
  = link_to "Edit Profile", edit_teacher_registration_path
  = link_to "Logout", destroy_teacher_session_path, :method => :delete
- else
  = link_to "Signup", new_teacher_registration_path
  = link_to "Login", new_teacher_session_path
- if session[:teacher]
  = link_to "View Dashboard", teacher_path(session[:teacher].id)